[Desktop Entry]
Comment=Breeze by the KDE VDG
Name=UnityKDE-Radiance
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=adhemarks@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=YaruKdeDark
X-KDE-PluginInfo-Version=5.63.2
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
